Hmwk 4. Built on max's code and my first 3 homeworks

Process:
1. I used the below code to collect training data for 10 hours and saved it as cvs files  in this directory under the folder `training_data`. The `training_data_old` directory has a further 10 hours of data but does not include USDAUD as I collected it prior to the in-class clarification about this currency pair.
2. The first section of the code imports and prepares the data to be used in the regression models
3. Instead of looping over all the currency pairs, I run the regression process (adapted from the pycaret tutorial found in their docs) for each currency pair separately. This was in order to select the best model which varied from one pair to the next.
4. After setting up the models, I tuned, finalised and saved them as per the docs instructions. I then load the models back into the application to be used in the main function.
5. In the main function, every 6 minutes I loop over the currency pairs and replace the vol and fd values with a classificaiton based on the training data. In order to do this I compared the real-time values to the traning data and programmatically added a class based on whether there it was a high, medium or low value.
6. I then use this real-time data each six minutes to make a prediction for the next six minutes, compare it to the actual return and keep note of the error.

In [1]:
# Import required libraries
import datetime
import time
from polygon import RESTClient
from sqlalchemy import create_engine 
from sqlalchemy import text
import pandas as pd
from math import sqrt
from math import isnan
import matplotlib.pyplot as plt
from numpy import mean
from numpy import std
from math import floor
import numpy as np

In [2]:
#-------Hmwk4----------
# A dictionary defining the set of currency pairs we will be pulling data for
currency_pairs = [["EUR","USD",],
                  ["GBP","USD",],
                  ["USD","CHF",],
                  ["USD","CAD",],
                  ["USD","HKD",],
                  ["USD","AUD",],
                  ["USD","NZD",],
                  ["USD","SGD",]]


# Do the necessary imports

import pandas as pd
from pycaret.regression import *

#Create dictionaries to house our raw data, prepared data, models, predictions
dfs = {}
dfs2 ={}
prepared = {}
models = {}
predictions = {}

# Create dictionaries that hold volatility and fd data, we will use these in the main function to assign a class to vol and fd
vol_data = {}
fd_data = {}


#Import our training data from the training_data directory
for currency in currency_pairs:
        # Set the input variables to the API
        from_ = currency[0]
        to = currency[1]
        dfs[f'{from_}{to}'] = pd.read_csv(f'training_data/{from_}{to}_ts.csv')
        dfs2[f'{from_}{to}'] = pd.read_csv(f'training_data/{from_}{to}_ts.csv')
        
        
        # Remove the time period coloumn as it may skew the prediction
        del dfs[f'{from_}{to}']['period']
        
        # sort the values by volatility and assign them into high, medium and low classifications
        dfs[f'{from_}{to}'] = dfs[f'{from_}{to}'].sort_values(by = ["volatility"])
        dfs[f'{from_}{to}'].reset_index(drop=True, inplace=True)
        
        # Saved the ordered vol data to classify real time data points
        vol_data[f'{from_}{to}'] = dfs2[f'{from_}{to}'].loc[0:100, 'volatility']
        
        dfs[f'{from_}{to}'].loc[0:32, 'volatility'] = 1
        dfs[f'{from_}{to}'].loc[33:66, 'volatility'] = 2
        dfs[f'{from_}{to}'].loc[67:100, 'volatility'] = 3
        
        # repeat the process for fractal dimension
        dfs[f'{from_}{to}'] = dfs[f'{from_}{to}'].sort_values(by = ["fd"])
        dfs[f'{from_}{to}'].reset_index(drop=True, inplace=True)
        
        # Saved the ordered fd data to classify real time data points
        fd_data[f'{from_}{to}'] = dfs2[f'{from_}{to}'].loc[0:100, 'fd']
        
        dfs[f'{from_}{to}'].loc[0:32, 'fd'] = 1
        dfs[f'{from_}{to}'].loc[33:66, 'fd'] = 2
        dfs[f'{from_}{to}'].loc[67:100, 'fd'] = 3
        
        # multiply the return by 100000, this will make it easier to make predictions as otherwise our return values are all very closed to 0.
        # we will divide the retrun by 100000 later
        
        dfs[f'{from_}{to}'].loc[0:100, 'return'] = dfs[f'{from_}{to}'].loc[0:100, 'return'] *100000
       
    
        # Add the prepared data for each currency to the prepared dictionary
        prepared[f'{from_}{to}'] = dfs[f'{from_}{to}']

In [3]:
# Instead of looping over the currency pairs as I do elsewhere in this project, I run each currency pair in a separate model. This was in order to select the best regression model that varied depending on the currency pair.

# EURUSD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
EURUSD_reg = setup(data = prepared['EURUSD'], target = 'return', session_id=1)

In [4]:
#Select the best model
EURUSD_best = compare_models(exclude = ['ransac'])

In [5]:
# Select the best model
EURUSD_en = create_model("en")

# Tune the rf model
EURUSD_tuned_en = tune_model(EURUSD_en)

# Finalise the model
EURUSD_model = finalize_model(EURUSD_tuned_en)

# Save the model
save_model(EURUSD_model, 'EURUSD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  ElasticNet(alpha=1.25, copy_X=True, fit_intercept=True,
                             l1_ratio=0.367, max_iter=1000, normalize=False,
                             positive=False, precompute=False, random_state=1,
                             selection='cyclic', tol=0.0001,
                             warm_start=False)]],
          verbose=False),
 'EURUSD_model.pkl')

In [6]:
# GBPUSD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
GBPUSD_reg = setup(data = prepared['GBPUSD'], target = 'return', session_id=2)

In [7]:
#Select the best model
GBPUSD_best = compare_models(exclude = ['ransac'])

In [8]:
# Select the best model
GBPUSD_knn = create_model("knn")

# Tune the rf model
GBPUSD_tuned_knn = tune_model(GBPUSD_knn)

# Finalise the model
GBPUSD_model = finalize_model(GBPUSD_tuned_knn)

# Save the model
save_model(GBPUSD_model, 'GBPUSD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('fix_perfect', Remove_100(target='return')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=-1, n_neighbors=12, p=2,
                                      weights='uniform')]],
          verbose=False),
 'GBPUSD_model.pkl')

In [9]:
# USDCHF
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDCHF_reg = setup(data = prepared['USDCHF'], target = 'return', session_id=3)

In [10]:
#Select the best model
USDCHF_best = compare_models(exclude = ['ransac'])

In [11]:
# Select the best model
USDCHF_llar = create_model("llar")

# Tune the rf model
USDCHF_tuned_llar = tune_model(USDCHF_llar)

# Finalise the model
USDCHF_model = finalize_model(USDCHF_tuned_llar)

# Save the model
save_model(USDCHF_model, 'USDCHF_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LassoLars(alpha=1.0, copy_X=True, eps=1e-05,
                            fit_intercept=True, fit_path=True, jitter=None,
                            max_iter=500, normalize=True, positive=False,
                            precompute='auto', random_state=3, verbose=False)]],
          verbose=False),
 'USDCHF_model.pkl')

In [12]:
# USDCAD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDCAD_reg = setup(data = prepared['USDCAD'], target = 'return', session_id=4)

In [13]:
#Select the best model
USDCAD_best = compare_models(exclude = ['ransac'])

In [14]:
# Select the best model
USDCAD_knn = create_model("knn")

# Tune the rf model
USDCAD_tuned_knn = tune_model(USDCAD_knn)

# Finalise the model
USDCAD_model = finalize_model(USDCAD_tuned_knn)

# Save the model
save_model(USDCAD_model, 'USDCAD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('fix_perfect', Remove_100(target='return')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                      metric='euclidean', metric_params=None,
                                      n_jobs=-1, n_neighbors=38, p=2,
                                      weights='uniform')]],
          verbose=False),
 'USDCAD_model.pkl')

In [15]:
# USDHKD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDHKD_reg = setup(data = prepared['USDHKD'], target = 'return', session_id=5)

In [16]:
#Select the best model
USDHKD_best = compare_models(exclude = ['ransac'])

In [17]:
# Select the best model
USDHKD_llar = create_model("llar")

# Tune the rf model
USDHKD_tuned_llar = tune_model(USDHKD_llar)

# Finalise the model
USDHKD_model = finalize_model(USDHKD_tuned_llar)

# Save the model
save_model(USDHKD_model, 'USDHKD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LassoLars(alpha=1.0, copy_X=True, eps=0.02,
                            fit_intercept=False, fit_path=True, jitter=None,
                            max_iter=500, normalize=False, positive=False,
                            precompute='auto', random_state=5, verbose=False)]],
          verbose=False),
 'USDHKD_model.pkl')

In [18]:
# USDAUD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDAUD_reg = setup(data = prepared['USDAUD'], target = 'return', session_id=6)

In [19]:
#Select the best model
USDAUD_best = compare_models(exclude = ['ransac'])

In [20]:
# Select the best model
USDAUD_br = create_model("br")

# Tune the rf model
USDAUD_tuned_br = tune_model(USDAUD_br)

# Finalise the model
USDAUD_model = finalize_model(USDAUD_tuned_br)

# Save the model
save_model(USDAUD_model, 'USDAUD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  BayesianRidge(alpha_1=0.3, alpha_2=0.15, alpha_init=None,
                                compute_score=True, copy_X=True,
                                fit_intercept=True, lambda_1=0.3, lambda_2=1e-06,
                                lambda_init=None, n_iter=300, normalize=True,
                                tol=0.001, verbose=False)]],
          verbose=False),
 'USDAUD_model.pkl')

In [21]:
# USDNZD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDNZD_reg = setup(data = prepared['USDNZD'], target = 'return', session_id=7)

In [22]:
#Select the best model
USDNZD_best = compare_models(exclude = ['ransac'])

In [23]:
# Select the best model
USDNZD_llar = create_model("llar")

# Tune the rf model
USDNZD_tuned_llar = tune_model(USDNZD_llar)

# Finalise the model
USDNZD_model = finalize_model(USDNZD_tuned_llar)

# Save the model
save_model(USDNZD_model, 'USDNZD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  LassoLars(alpha=1.0, copy_X=True, eps=0.0001,
                            fit_intercept=True, fit_path=True, jitter=None,
                            max_iter=500, normalize=True, positive=False,
                            precompute='auto', random_state=7, verbose=False)]],
          verbose=False),
 'USDNZD_model.pkl')

In [24]:
# USDSGD
# Below code creates the regresion model, most of it is adapted from the pycaret tutorial

        
# Set up the regression
USDSGD_reg = setup(data = prepared['USDSGD'], target = 'return', session_id=8)

In [25]:
#Select the best model
USDSGD_best = compare_models(exclude = ['ransac'])

In [26]:
# Select the best model
USDSGD_br = create_model("br")

# Tune the rf model
USDSGD_tuned_br = tune_model(USDSGD_br)

# Finalise the model
USDSGD_model = finalize_model(USDSGD_tuned_br)

# Save the model
save_model(USDSGD_model, 'USDSGD_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='return',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy=...
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  BayesianRidge(alpha_1=0.001, alpha_2=0.001, alpha_init=None,
                                compute_score=False, copy_X=True,
                                fit_intercept=False, lambda_1=0.001,
                                lambda_2=0.2, lambda_init=None, n_iter=300,
                                normalize=True, tol=0.001, verbose=False)]],
          verbose=False),
 'USDSGD_model.pkl')

In [27]:
# Load the models ready to be used in the main function
loaded_models = {}
loaded_models["EURUSD"] = load_model('EURUSD_model')
loaded_models["GBPUSD"] = load_model('GBPUSD_model')
loaded_models["USDCHF"] = load_model('USDCHF_model')
loaded_models["USDCAD"] = load_model('USDCAD_model')
loaded_models["USDHKD"] = load_model('USDHKD_model')
loaded_models["USDAUD"] = load_model('USDAUD_model')
loaded_models["USDNZD"] = load_model('USDNZD_model')
loaded_models["USDSGD"] = load_model('USDSGD_model')

Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded

In [32]:
# The below are helper functions for the main function
# Function slightly modified from polygon sample code to format the date string 
def ts_to_datetime(ts) -> str:
    return datetime.datetime.fromtimestamp(ts / 1000.0).strftime('%Y-%m-%d %H:%M:%S')

# Function which clears the raw data tables once we have aggregated the data in a 6 minute interval
def reset_raw_data_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("DROP TABLE "+curr[0]+curr[1]+"_raw;"))
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_raw(ticktime text, fxrate  numeric, inserttime text);"))

# This creates a table for storing the raw, unaggregated price data for each currency pair in the SQLite database
def initialize_raw_data_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_raw(ticktime text, fxrate  numeric, inserttime text);"))

# This creates a table for storing the (6 min interval) aggregated price data for each currency pair in the SQLite database            
def initialize_aggregated_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_agg(inserttime text, avgfxrate  numeric, stdfxrate numeric);"))

# Create a table for storing data required for hmwk2 + 3
def intialize_ts_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_ts(inserttime text, period text, maximum numeric, minimum numeric, mean numeric, volatility numeric, fd numeric, return numeric);"))

# Create a table for storing the results from the stop loss strategy
def intialize_results_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_results(inserttime text, period text, position text, balance numeric, profitloss numeric, status text);"))
            
# Create a table for storing the predictions from the regression model
def intialize_predictions_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            conn.execute(text("CREATE TABLE "+curr[0]+curr[1]+"_predictions(inserttime text, predictedreturn numeric, actualreturn text numeric, error numeric);"))
            
            
# This function is called every 6 minutes to aggregate the data, store it in the aggregate table, 
# and then delete the raw data
def aggregate_raw_data_tables(engine,currency_pairs):
    with engine.begin() as conn:
        for curr in currency_pairs:
            result = conn.execute(text("SELECT AVG(fxrate) as avg_price, COUNT(fxrate) as tot_count FROM "+curr[0]+curr[1]+"_raw;"))
            for row in result:
                avg_price = row.avg_price
                tot_count = row.tot_count
            std_res = conn.execute(text("SELECT SUM((fxrate - "+str(avg_price)+")*(fxrate - "+str(avg_price)+"))/("+str(tot_count)+"-1) as std_price FROM "+curr[0]+curr[1]+"_raw;"))
            for row in std_res:
                std_price = sqrt(row.std_price)
            date_res = conn.execute(text("SELECT MAX(ticktime) as last_date FROM "+curr[0]+curr[1]+"_raw;"))
            for row in date_res:
                last_date = row.last_date
            conn.execute(text("INSERT INTO "+curr[0]+curr[1]+"_agg (inserttime, avgfxrate, stdfxrate) VALUES (:inserttime, :avgfxrate, :stdfxrate);"),[{"inserttime": last_date, "avgfxrate": avg_price, "stdfxrate": std_price}])
            
            # This calculates and stores the return values
            exec("curr[2].append("+curr[0]+curr[1]+"_return(last_date,avg_price))")
            #exec("print(\"The return for "+curr[0]+curr[1]+" is:"+str(curr[2][-1].hist_return)+" \")")
            
            if len(curr[2]) > 5:
                try:
                    avg_pop_value = curr[2][-6].hist_return
                except:
                    avg_pop_value = 0
                if isnan(avg_pop_value) == True:
                    avg_pop_value = 0
            else:
                avg_pop_value = 0
            # Calculate the average return value and print it/store it
            curr_avg = curr[2][-1].get_avg(avg_pop_value)
            #exec("print(\"The average return for "+curr[0]+curr[1]+" is:"+str(curr_avg)+" \")")
            
            # Now that we have the average return, loop through the last 5 rows in the list to start compiling the 
            # data needed to calculate the standard deviation
            for row in curr[2][-5:]:
                row.add_to_running_squared_sum(curr_avg)
            
            # Calculate the standard dev using the avg
            curr_std = curr[2][-1].get_std()
            #exec("print(\"The standard deviation of the return for "+curr[0]+curr[1]+" is:"+str(curr_std)+" \")")
            
            # Calculate the average standard dev
            if len(curr[2]) > 5:
                try:
                    pop_value = curr[2][-6].std_return
                except:
                    pop_value = 0
            else:
                pop_value = 0
            curr_avg_std = curr[2][-1].get_avg_std(pop_value)
            #exec("print(\"The average standard deviation of the return for "+curr[0]+curr[1]+" is:"+str(curr_avg_std)+" \")")
            

#                    ----------------- Hmwk 3 -----------------------


# This funtion initialises trading by assigning 5 currencies long positions and 5 currencies short positions.
# It adds 100 to their balance.

def initialise_trading(engine, currency_pairs, dic):
    i = 0
    for currency in currency_pairs:
        # Set the input variables to the API
        from_ = currency[0]
        to = currency[1]
        i +=1
        
        if (i % 2 != 0):
            dic[f'{from_}{to} position'] = 'long'
            dic[f'{from_}{to} balance'] = 100
            dic[f'{from_}{to} trade_status'] = 'live'
            
        
        if (i % 2 == 0):
            dic[f'{from_}{to} position'] = 'short'
            dic[f'{from_}{to} balance'] = 100
            dic[f'{from_}{to} trade_status'] = 'live'
            

# This function contains the stop loss strategy as outlined in the assignment 
            
def stop_loss_strategy(engine, currency_pairs, dic, hours_past):
    
    # This function gets called every hour

    # Loop through each currency pair
    for currency in currency_pairs:
        # Set the input variables to the API
        from_ = currency[0]
        to = currency[1]
        
        
    
    # We can reference the acceptable loss from this logic array. This refactoring saved many lines of copy and pasted code.
    # Each element is an acceptable loss, it's index + 1 is its corresponding phase. I.e 0.250 is acceptable in the first hour, 0.100 is acceptable in the second hour.
    
        logic = [0.250, 0.150, 0.100, 0.050, 0.050, 0.050, 0.050, 0.050, 0.050, 0.050]
            
               
        # If 10 hours have past, exit the trades and compute the profit/loss
        if hours_past == 10:
            # Exit trades and compute balance, profit or loss
            dic[f'{from_}{to} trade_status'] = 'exited'
            dic[f'{from_}{to} balance'] = dic[f'{from_}{to} balance'] * (1 - dic[f'{from_}{to} return'])
            
            if (dic[f'{from_}{to} position'] == 'long'):
                dic[f'{from_}{to} profit_loss'] = (dic[f'{from_}{to} balance'] - dic[f'{from_}{to} total_invested'])
            
            if (dic[f'{from_}{to} position'] == 'short'):
                dic[f'{from_}{to} profit_loss'] = -(dic[f'{from_}{to} balance'] - dic[f'{from_}{to} total_invested'])
                
            
                
        else:
            # Follow the trading logic   
            for index, val in enumerate(logic):
                #If first period
                if hours_past == index+1:
                    #If long
                    if (dic[f'{from_}{to} position'] == 'long') & (dic[f'{from_}{to} trade_status'] == 'live'):
                    
                        # If long and loss is larger than accepted loss compute loss and close trade
                        if ((dic[f'{from_}{to} return']) < -(logic[index]/100)):
                            dic[f'{from_}{to} trade_status'] = 'exited'
                            dic[f'{from_}{to} balance'] = dic[f'{from_}{to} balance'] * (1 - dic[f'{from_}{to} return'])
                            

                        # If long and loss is less than accepted loss, compute profit or loss, add it to the position and add another 100 to the trade 
                        if ((dic[f'{from_}{to} return']) >= -(logic[index]/100)):
                            dic[f'{from_}{to} balance'] = dic[f'{from_}{to} balance'] + (dic[f'{from_}{to} balance'] * dic[f'{from_}{to} return']) + 100
                            dic[f'{from_}{to} total_invested'] += 100
                        
                        dic[f'{from_}{to} profit_loss'] = (dic[f'{from_}{to} balance'] - dic[f'{from_}{to} total_invested'])
                        
                        
                    if (dic[f'{from_}{to} position'] == 'short') & (dic[f'{from_}{to} trade_status'] == 'live'):
                         # If short and gain is larger than accepted gain compute loss and close trade
                        if ((dic[f'{from_}{to} return']) > (logic[index]/100)):
                            dic[f'{from_}{to} trade_status'] = 'exited'
                            dic[f'{from_}{to} balance'] = dic[f'{from_}{to} balance'] * (1 - dic[f'{from_}{to} return'])
                            
                         # If short and gain is less than accepted gain compute profit or loss add it to the position and add another 100 to the trade
                        if ((dic[f'{from_}{to} return']) <= (logic[index]/100)):
                            dic[f'{from_}{to} balance'] = dic[f'{from_}{to} balance'] + (dic[f'{from_}{to} balance'] * dic[f'{from_}{to} return']) + 100
                            dic[f'{from_}{to} total_invested'] += 100

                        dic[f'{from_}{to} profit_loss'] = -(dic[f'{from_}{to} balance'] - dic[f'{from_}{to} total_invested'])
        
        
        
        # Get the current time and format it
        insert_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        
        # Write the results into the db
        with engine.begin() as conn:
            conn.execute(text("INSERT INTO "+from_+to+"_results(inserttime, period, position, balance, profitloss, status) VALUES (:inserttime, :period, :position, :balance, :profitloss, :status)"),[{"inserttime": insert_time, "period": hours_past, "position": dic[f'{from_}{to} position'], "balance": dic[f'{from_}{to} balance'], "profitloss": dic[f'{from_}{to} profit_loss'], "status": dic[f'{from_}{to} trade_status']}])
                    
        
        
# This main function repeatedly calls the polygon api every 1 seconds for 24 hours 
# and stores the results.
def main(currency_pairs):
    # The api key given by the professor
    key = "beBybSi8daPgsTp5yx5cHtHpYcrjp5Jq"
    
    # Number of list iterations - each one should last about 1 second
    count = 0
    agg_count = 0
    hour_count = 0
    hours_past = 0
    
    # Create a dictionary of variables that will act as local storage for the various currency paris
    dic = {}
    
    for currency in currency_pairs:
        # Set the input variables to the API
        from_ = currency[0]
        to = currency[1]
        
        #Initialise the variables that we will need
        dic[f'{from_}{to} maximum'] = float('-inf')
        dic[f'{from_}{to} minimum'] = float('inf')
        dic[f'{from_}{to} prices'] = []
        dic[f'{from_}{to} running_total'] = 0
        dic[f'{from_}{to} cross_count'] = 0
        dic[f'{from_}{to} period'] = 1
        dic[f'{from_}{to} keltner_upper_bands'] = []
        dic[f'{from_}{to} keltner_lower_bands'] = []
        dic[f'{from_}{to} avg_price'] = None
        dic[f'{from_}{to} last_price'] = None
        dic[f'{from_}{to} upper_count'] = 0
        dic[f'{from_}{to} lower_count'] = 0
        dic[f'{from_}{to} fd'] = 0
        dic[f'{from_}{to} old_mean'] = 0
        dic[f'{from_}{to} mean'] = 0
        dic[f'{from_}{to} return'] = 0
        # variables that will keep track of investments
        dic[f'{from_}{to} balance'] = 0       # we will initialise this to 100
        dic[f'{from_}{to} profit_loss'] = 0
        dic[f'{from_}{to} total_invested'] = 100
        dic[f'{from_}{to} number_of_hours'] = 0
        dic[f'{from_}{to} trade_status'] = '' # live or exited
        dic[f'{from_}{to} position'] = ''     # long or short
        dic[f'{from_}{to} predicted'] = 0     # predicted return from the model
        dic[f'{from_}{to} error'] = 0         # error from prediction
        
        
    
    
    
    # Create an engine to connect to the database; setting echo to false should stop it from logging in std.out
    engine = create_engine("sqlite+pysqlite:///sqlite/final.db", echo=False, future=True)
    
    
   
        
    # Create the needed tables in the database
    initialize_raw_data_tables(engine,currency_pairs)
    initialize_aggregated_tables(engine,currency_pairs)
    intialize_ts_tables(engine,currency_pairs)
    intialize_results_tables(engine,currency_pairs)
    intialize_predictions_tables(engine,currency_pairs)
    
    
    
    
    # Start trading!
    initialise_trading(engine, currency_pairs, dic)
    
    # Open a RESTClient for making the api calls
    with RESTClient(key) as client:
        # Loop that runs until the total duration of the program hits 24 hours. 
        while count < 86400: # 86400 seconds = 24 hours
            
            
            # Make a check to see if 6 minutes has been reached or not
            if agg_count == 360:
                
                
                # Aggregate the data and clear the raw data tables
                #aggregate_raw_data_tables(engine,currency_pairs)
                reset_raw_data_tables(engine,currency_pairs)
                agg_count = 0
            
            
            # Every ten hours run the trailing stop strategy (3600 seconds)
            if hour_count == 3600:

                
                # Run the stop loss strategy
                stop_loss_strategy(engine, currency_pairs, dic, hours_past)
                
                 # Increment hours that have past
                hours_past += 1

                # Reset hour count
                hour_count = 0
                
               

            # Only call the api every 1 second, so wait here for 0.75 seconds, because the 
            # code takes about .15 seconds to run
            time.sleep(0.5)
            
            # Increment the counters
            count += 1
            agg_count += 1
            hour_count += 1

            # Loop through each currency pair
            for currency in currency_pairs:
                # Set the input variables to the API
                from_ = currency[0]
                to = currency[1]
                
                if agg_count == 360:
            
                    # Every six minutes...
                    
                    # Calculate the mean
                    prices_arr = np.array(dic[f'{from_}{to} prices'])
                    dic[f'{from_}{to} running_total'] = prices_arr.sum()
                    dic[f'{from_}{to} mean'] = dic[f'{from_}{to} running_total'] / len(prices_arr)
                    
                    # Calculate the return
                    if  dic[f'{from_}{to} period'] > 1:
                        dic[f'{from_}{to} return'] = (dic[f'{from_}{to} mean'] - dic[f'{from_}{to} old_mean']) / dic[f'{from_}{to} old_mean']
                    else:
                        dic[f'{from_}{to} return'] = 0
                        
                        
                    # Assign the previous mean to the old_mean
                    dic[f'{from_}{to} old_mean'] = dic[f'{from_}{to} mean']

                    
                    # Reset values
                    dic[f'{from_}{to} prices'] = []
                    dic[f'{from_}{to} running_total'] = 0
    
        
                    # Write the volatility info to database
                
                    with engine.begin() as conn:
                        conn.execute(text("INSERT INTO "+from_+to+"_ts(inserttime, period, maximum, minimum, mean, volatility, fd, return) VALUES (:inserttime, :period, :maximum, :minimum, :mean, :volatility, :fd, :return)"),[{"inserttime": insert_time, "period": dic[f'{from_}{to} period'], "maximum": dic[f'{from_}{to} maximum'], "minimum": dic[f'{from_}{to} minimum'], "mean": dic[f'{from_}{to} mean'], "volatility": dic[f'{from_}{to} vol'], "fd": dic[f'{from_}{to} fd'], "return": dic[f'{from_}{to} return']}])
                    
                    
                    # Write the prediction info into the db
                    
                    dic[f'{from_}{to} error'] = dic[f'{from_}{to} return'] - dic[f'{from_}{to} predicted']
                    
                    
                    with engine.begin() as conn:
                        conn.execute(text("INSERT INTO "+from_+to+"_predictions(inserttime, predictedreturn, actualreturn, error) VALUES (:inserttime, :predictedreturn, :actualreturn, :error)"),[{"inserttime": insert_time, "predictedreturn": dic[f'{from_}{to} predicted'], "actualreturn": dic[f'{from_}{to} return'], "error": dic[f'{from_}{to} error'] }])
                                       
                    
                    # Run the prediction for next period
                    
                    data = {'inserttime': [insert_time], 'maximum': [dic[f'{from_}{to} maximum']], 'minimum': [dic[f'{from_}{to} minimum']],'mean': [dic[f'{from_}{to} mean']], 'volatility': [dic[f'{from_}{to} vol']], 'fd': [dic[f'{from_}{to} fd']], 'return': [dic[f'{from_}{to} return']] }
                    df = pd.DataFrame(data=data)
                    predictions[f'{from_}{to}'] = predict_model(loaded_models[f'{from_}{to}'], data = df)

                    # Save the prediction to the dictionary                    
                    dic[f'{from_}{to} predicted'] = predictions[f'{from_}{to}'].loc[0]['Label'] / 100000
                    
                    
                    
                    # Reset the currency specific variables
                    dic[f'{from_}{to} maximum'] = float('-inf')
                    dic[f'{from_}{to} minimum'] = float('inf')
                    dic[f'{from_}{to} cross_count'] = 0 
                    dic[f'{from_}{to} period'] +=1

                    dic[f'{from_}{to} keltner_upper_bands'] = []
                    dic[f'{from_}{to} keltner_lower_bands'] = []
                    dic[f'{from_}{to} upper_count'] = 0
                    dic[f'{from_}{to} lower_count'] = 0

                    

                    # If the first period has passed, calculate the keltner bands
                    if dic[f'{from_}{to} period'] > 1:

                    # Create 100 upper Keltner bands
                        for num in range(100):
                            calc = dic[f'{from_}{to} mean'] + num*0.025*dic[f'{from_}{to} vol']
                            dic[f'{from_}{to} keltner_upper_bands'].append(calc)
                            
                    # Create 100 lower Keltner bands
                        for num in range(100):
                            calc = dic[f'{from_}{to} mean'] - num*0.025*dic[f'{from_}{to} vol']
                            dic[f'{from_}{to} keltner_lower_bands'].append(calc)
                        
                

                # Call the API with the required parameters
                try:
                    resp = client.forex_currencies_real_time_currency_conversion(from_, to, amount=100, precision=2)
                except:
                    continue

                # This gets the Last Trade object defined in the API Resource
                last_trade = resp.last

                # Format the timestamp from the result
                dt = ts_to_datetime(last_trade["timestamp"])

                # Get the current time and format it
                insert_time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
                
                # Assign the old average price to the last price
                dic[f'{from_}{to} last_price'] = dic[f'{from_}{to} avg_price']
                
                
                # Calculate the new average price by taking the average of the bid and ask prices
                avg_price = (last_trade['bid'] + last_trade['ask'])/2
                dic[f'{from_}{to} avg_price'] = (last_trade['bid'] + last_trade['ask'])/2
                
                # Calculate the max price in the past six minutes
                if dic[f'{from_}{to} avg_price'] > dic[f'{from_}{to} maximum']:
                    dic[f'{from_}{to} maximum'] = dic[f'{from_}{to} avg_price']
                            
                # Calculate the min price in the last six minutes
                if dic[f'{from_}{to} avg_price'] < dic[f'{from_}{to} minimum']:
                    dic[f'{from_}{to} minimum'] = dic[f'{from_}{to} avg_price']
                
                # Calculate the volatility over the last six minutes
                dic[f'{from_}{to} vol'] = dic[f'{from_}{to} maximum'] - dic[f'{from_}{to} minimum']
                
                # Replace the vol with a class (1,2,3)
                vol_arr = vol_data[f'{from_}{to}'].to_numpy().tolist()
                vol_arr.append(dic[f'{from_}{to} vol'])
                vol_r = vol_arr.index(dic[f'{from_}{to} vol'])
                if vol_r <= 32:
                    dic[f'{from_}{to} vol'] = 1
                    
                if (vol_r > 32) &  vol_r <= 66:
                    dic[f'{from_}{to} vol'] = 2
                
                if (vol_r > 66):
                    dic[f'{from_}{to} vol'] = 3
                    
                
                # Calculate the fractal dimension
                # For each new price we want to know how many bands have been crossed. 
        
                upper = np.array(dic[f'{from_}{to} keltner_upper_bands'])
                lower = np.array(dic[f'{from_}{to} keltner_lower_bands'])
                
                # How many numbers in the keltner band are greater than the old price and less than the new price
                if dic[f'{from_}{to} last_price'] is not None:
                    dic[f'{from_}{to} upper_count'] = ((dic[f'{from_}{to} last_price'] < upper) & (upper < dic[f'{from_}{to} avg_price'])).sum()

                # How many numbers in the keltner band are less than the old price and greater than the new price
                if dic[f'{from_}{to} last_price'] is not None:
                    dic[f'{from_}{to} lower_count'] = ((dic[f'{from_}{to} last_price'] > lower) & (lower > dic[f'{from_}{to} avg_price'])).sum()

                # Add the above counts from upper and lower bands together
                dic[f'{from_}{to} cross'] = dic[f'{from_}{to} upper_count'] + dic[f'{from_}{to} lower_count']
                
                # Add the total to the running total of crosses over the six minute period
                dic[f'{from_}{to} cross_count'] = dic[f'{from_}{to} cross_count'] +  dic[f'{from_}{to} cross']
                
                # Divide the cross_count by the volatility in order to calculte the fractal dimenstion
                if  dic[f'{from_}{to} vol'] != 0:
                     dic[f'{from_}{to} fd'] = dic[f'{from_}{to} cross_count'] /  dic[f'{from_}{to} vol']
                
                # Replace the fd with a class (1,2,3)
                fd_arr = fd_data[f'{from_}{to}'].to_numpy().tolist()
                fd_arr.append(dic[f'{from_}{to} fd'])
                fd_r = fd_arr.index(dic[f'{from_}{to} fd'])
                if fd_r <= 32:
                    dic[f'{from_}{to} fd'] = 1
                    
                if (fd_r > 32) &  fd_r <= 66:
                    dic[f'{from_}{to} fd'] = 2
                
                if (fd_r > 66):
                    dic[f'{from_}{to} fd'] = 3
                
                # Keep track of prices over last 6 minutes
                (dic[f'{from_}{to} prices']).append(dic[f'{from_}{to} avg_price'])
                
                
                # Write the data to the SQLite database, raw data tables
                with engine.begin() as conn:
                    conn.execute(text("INSERT INTO "+from_+to+"_raw(ticktime, fxrate, inserttime) VALUES (:ticktime, :fxrate, :inserttime)"),[{"ticktime": dt, "fxrate": avg_price, "inserttime": insert_time}])

In [33]:
# Run the main data collection loop
main(currency_pairs)

KeyboardInterrupt: